<template>
  <div class="app">
    <signature
      :name="name"
      :job-title="jobTitle"
      :location="location"
      :email="email"
      :linkedin="linkedin"
      :twitter="twitter"
      :phone="phone"
    ></signature>
    <div class="config">
      <form class="form">
        <fieldset>
          <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input id="name" v-model="name" type="text" class="form-control input-md">
          </div>

          <div class="form-group">
            <label class="control-label" for="jobtitle">Job Title</label>
            <input id="jobtitle" v-model="jobTitle" type="text" class="form-control input-md">
          </div>

          <div class="form-group">
            <label class="control-label" for="location">Location</label>
            <input id="location" v-model="location" type="text" class="form-control input-md">
          </div>

          <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input id="email" v-model="email" type="email" class="form-control input-md">
          </div>

          <div class="form-group">
            <label class="control-label" for="linkedin">Linkedin Profile</label>
            <input id="linkedin" v-model="linkedin" type="url" class="form-control input-md">
          </div>

          <div class="form-group">
            <label class="control-label" for="twitter">Twitter Profile</label>
            <input id="twitter" v-model="twitter" type="url" class="form-control input-md">
          </div>

          <div class="form-group">
            <label class="control-label" for="phone">Phone number</label>
            <input id="phone" v-model="phone" type="tel" class="form-control input-md">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</template>

<script>
import Signature from './Signature.vue';

export default {
  name: 'App',
  components: {
    Signature
  },
  data: () => {
    return {
      name: 'Peter Wisdom',
      jobTitle: 'Apiarist',
      location: 'Essex UK',
      email: 'pwisdom@gitlab.com',
      linkedin: 'http://www.linkedin.com/in/peterw1974/',
      twitter: 'https://twitter.com/peterw_1974',
      phone: '+44 1632 960436'
    }
  },
}
</script>