html,
body{
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: auto 400px;
  height: 100%;
}

.wrapper {
  align-items: center;
  background: #333;
  display: flex;
  justify-content: center;
}

.signature {
  background: #fff;
  padding: 20px;
}

.config {
  background: #fff;
  overflow: auto;
  padding: 20px;
}